<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola {{nombre}}</h1>
    <p>tu dirección IP ES : {{user_ip}}</p>
    {% if user_ip == '127.0.0.1' %}
        <h2>esta conectado desde su pc local</h2>
        {% endif %}
        <ul>
            {% for p in productos %}
                <li> PRODUCTO: {{p}}</li>
            {% endfor %}
        </ul>
</body>
</html>